option_settings:
  aws:ec2:vpc:
    VPCId: vpc-af0f58d4
    Subnets: subnet-e23bc785,subnet-bd21ce93,subnet-a8f2fd97,subnet-9103859e,subnet-f98b3ab3,subnet-8ff61bd3
    ELBSubnets: subnet-e23bc785,subnet-bd21ce93,subnet-a8f2fd97,subnet-9103859e,subnet-f98b3ab3,subnet-8ff61bd3
    DBSubnets: subnet-e23bc785,subnet-bd21ce93,subnet-a8f2fd97,subnet-9103859e,subnet-f98b3ab3,subnet-8ff61bd3
  aws:elasticbeanstalk:container:python:
    WSGIPath: neptune/wsgi.py
commands:
  01_get_node8:
    cwd: /tmp
    test: '[ ! -f /usr/bin/node ] && echo "node not installed"'
    command: 'curl --silent --location https://rpm.nodesource.com/setup_8.x | sudo bash -'
  02_install_node8:
    cwd: /tmp
    command: "yum -y install nodejs"
  03_npm_install:
    cwd: /tmp
    test: '[ ! -f /usr/bin/npm ] && echo "npm not installed"'
    command: 'curl -L http://npmjs.org/install.sh | sh'
container_commands:
  01_install_node_packages:
    command: "npm install"
  02_webpack_build:
    command: "npm run build"
  03_install_python_packages:
    command: "pip install -r requirements/prod.txt"
  04_collect_static:
    command: "python manage.py collectstatic"
  05_migrate:
    command: "python manage.py migrate"
  06_wsgipass:
    command: 'echo "WSGIPassAuthorization On" >> ../wsgi.conf'

